<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label 'Username', for: :username %><br>
    <%= f.text_field :username, id: :username %>
  </div>
  <div class="field">
    <%= f.label 'Password', for: :password %><br>
    <%= f.password_field :password, id: :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>

<p>
  Don't have an account? <%= link_to 'Register', register_path %> for free!
</p>

<p>
  Forgot password?
</p>
