<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label 'Email', for: :email %><br>
    <%= f.email_field :email, id: :email %>
  </div>
  <div class="field">
    <%= f.label 'Password', for: :password %><br>
    <%= f.password_field :password, id: :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>
