<div class="forum-menu-container">
  <div class="_dropdown forum-categories-container">
    <span class="forum-categories">All categories</span>
    <ul class="_dropdown-content forum-categories-menu">
      <li><%= link_to 'All categories', forums_path, class: 'forum-categories-item' %></li>
      <% @forums.each do |forum| %>
        <li><%= link_to forum.name, forum, class: 'forum-categories-item' %></li>
      <% end %>
    </ul>
  </div>

  <ul class="forum-menu">
    <li class="forum-menu-item"><a class="forum-menu-link active" href="#">Latest</a></li>
    <li class="forum-menu-item"><a class="forum-menu-link" href="#">New</a></li>
    <li class="forum-menu-item"><a class="forum-menu-link" href="#">Starred</a></li>
  </ul>

  <% if logged_in? %>
    <%= link_to 'New', new_forum_post_path(@forum), class: 'new-post' %>
  <% end %>
</div>

<h1 class="forum-title"><%= @forum.name %></h1>

<table class="posts-table">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, [@forum, post] %></td>
        <td><%= post.replies.count %></td>
        <td><%= post.views %></td>
        <% if post.replies.count > 0 %>
          <td><%= time_ago_in_words post.replies.last.updated_at %> ago</td>
        <% else %>
          <td><%= time_ago_in_words post.updated_at %> ago</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="forum-pagination">
  <%= will_paginate @posts unless @posts.empty? %>
  <div class="pagination-info">
    <%= page_entries_info @posts, model: 'posts' unless @posts.empty? %>
  </div>
</div>
