.notification-container
  %h3 #{current_user.username}’s Notifications
  - if @notifications.empty?
    .alert-gift
      %p No notifications. You are up to date :)
  - else
    - @notifications.each do |notification|
      %div{ id: "notification-#{notification.id}", class: 'notification' }
        .notification-action
          = link_to 'Dismiss', [notification, format: :js], data: { remote: true, method: :delete }
        .notification-message
          != notification_link_for notification
    = link_to 'Dismiss All', notifications_path

- unless @notifications.empty?
  .notification-pagination
    = will_paginate @notifications
    .pagination-info
      = page_entries_info @notifications, model: 'notifications'
