= form_for(@user) do |f|
  - if @user.errors.any?
    .error_explanation
      %h2
        = pluralize(@user.errors.count, 'error')
        prohibited your changes to be saved
      %ul
        - @user.errors.full_messages.each do |message|
          %li
            = message

  .settings-group-inputs
    = f.label :name
    = f.text_field :name
  .settings-group-inputs
    = f.label :username
    = f.text_field :username
  .settings-group-inputs
    = f.label :email
    = f.text_field :email
  .settings-group-inputs
    = f.label :password
    = f.password_field :password
  .settings-group-inputs
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .settings-group-action
    = f.submit 'Save'
