.user-header
  .user-header-content
    != gravatar_for(@user, size: 125, class: 'user-avatar')
    .user-profile
      %h3
        = @user.username
      %p
        = @user.followers.count
        %strong followers
        , 
        %strong following 
        = @user.following.count
    %a.user-follow-btn{href: follow_user_path(@user, format: :js), data: { remote: true, method: :put } } 
      - if logged_in? && current_user.following.include?(@user) then
        %span Following
        %i.fa.fa-check
      - else
        %span Follow
        %i.fa.fa-plus
    .user-header-title 
      #{@user.username}&#8217;s Feed

%ul.user-bar
  %li
    %a.user-link{href: user_path(@user)}
      %i.fa.fa-user
      Profile
  %li.active
    %a.user-link{href: feed_user_path(@user)}
      %i.fa.fa-rss
      Feed
  %li
    %a.user-link{href: fics_user_path(@user)}
      %i.fa.fa-file-text
      Fics
  %li
    %a.user-link{href: favs_user_path(@user)}
      %i.fa.fa-heart
      Favs

.fics-container
  .fic-container
    - @feed.each do |story|
      = render partial: 'shared/story', locals: { story: story }
  .fics-pagination
    = will_paginate @feed unless @feed.empty?
    .pagination-info
      = page_entries_info @feed, model: 'fics'
