.user-header
  .user-header-content
    != gravatar_for(@user, size: 125, class: 'user-avatar')
    .user-profile
      %h3
        = @user.name
      %p
        <strong>wrote</strong> #{@user.stories.count} fics, <strong>read</strong> 123
    %a.user-follow-btn{href: follow_user_path(@user, format: :js), data: { remote: true, method: :put } } 
      - if logged_in? && current_user.following.include?(@user) then
        %span Following
        %i.fa.fa-check
      - else
        %span Follow
        %i.fa.fa-plus

%ul.user-bar
  %li.active
    %a.user-link{href: '#'}
      %i.fa.fa-user
      Profile
  %li 
    %a.user-link{href: '#'}
      %i.fa.fa-file-text
      Fics
  %li 
    %a.user-link{href: '#'}
      %i.fa.fa-heart
      Favs

.user-container
  .user-entries
    .fic-container
      %h3.fic-header Fics
    .fic-container
      - @stories.each do |story|
        .fic
          .fic-content
            %h4.fic-title
              = link_to story.title, story
            .fic-description 
              %p 
                = story.summary
            %ul.fic-info
              %li
                = story.chapters.count
                chapters
              %li
                = story.views
                views
              %li
                = story.favorited_by.count
                favs
            %ul.fic-tags
              %li.fic-tags-info
                =story.active_tags.count
                tags:
              - story.active_tags.each do |tag|
                %li 
                  %span{ class: "tag-#{tag.context}" }
                    = tag.name
            = link_to 'Read', story, class: 'fic-link'
      .fic-action
        - if @user.stories.empty?
          %p.fic-nothing Nothing here boss! Seems like this user has not written anything yet!
        - else
          %a{ href: '#', class: 'fic-see-all-btn' } See all
    .fav-container
      %h3 Favs
    .fav-container
      - @favs.each do |story|
        .fic
          .fic-content
            %h3.fic-title
              = story.title
            .fic-description 
              %p 
                = story.summary
            %ul.fic-info
              %li
                = story.views
                views
              %li
                = story.favorited_by.count
                favs
              %li 
                = link_to 'Read', story, class: 'fic-link'
      .fic-action
        - if @user.favorites.empty?
          %p.fic-nothing Nothing here boss! Seems like this user has no favs yet!
        - else
          %a{ href: '#', class: 'fic-see-all-btn' }

  .user-info

    .user-bio
      %h3.user-bio-title 
        About me
      %p.user-bio-content 
        Full stack web developer, gamer and cat lover from Argentina

    %ul.user-tabs._tabs
      %li{ class: 'active', data: { for: '.user-wall' } } Wall
      %li{ data: { for: '.user-followers' } } Followers
      %li{ data: { for: '.user-following' } } Following

    %ul.user-wall.u-hidden
      %li.user-wall-entry
        .user-wall-author 
          %img{ src: 'http://placehold.it/50x50' }
        .user-wall-message 
          .user-wall-message-content 
            .user-wall-message-info
              %a{ href: '#', class: 'user-wall-message-info-link' } Someone
              .user-wall-message-info-date 1 day ago
            %p Hello, World
            %p Hello, World
            %p Hello, World
      %li.user-wall-entry
        .user-wall-author 
          %img{ src: 'http://placehold.it/50x50' }
        .user-wall-message 
          .user-wall-message-content 
            .user-wall-message-info
              %a{ href: '#', class: 'user-wall-message-info-link' } Someone
              .user-wall-message-info-date 1 day ago
            Hello There! 
      %li.user-wall-entry
        .user-wall-author 
          %img{ src: 'http://placehold.it/50x50' }
        .user-wall-message 
          .user-wall-message-content 
            .user-wall-message-info
              %a{ href: '#', class: 'user-wall-message-info-link' } Someone
              .user-wall-message-info-date 1 day ago
            Hello There! 
      - if logged_in?
        %li.user-wall-entry
          .user-wall-author 
            %img{ src: 'http://placehold.it/50x50' }
          .user-wall-message 
            .user-wall-message-content.user-wall-new
              %h3.user-wall-new-title Add a comment
              %textarea.user-wall-new-content
              %input{ type: 'button', value: 'Preview', class: 'user-wall-new-preview-btn' }
              %input{ type: 'submit', value: 'Add comment', class: 'user-wall-new-add-btn' }
    .user-followers.u-hidden
      Followers here!
    .user-following.u-hidden
      Following here

    %h3.activity-title Activity
    %ul.activity
      %li Created fic SOME FIC
      %li Commented on SOMEONE's profile
      %li Created ASDASD forum post
      %li Replied to potato's MYTITLE forum post
      %li Followed ANAUTHOR
      %li Faved SOMEFIC

