
    <header class="profile-header">
      <img class="profile-avatar" src="http://placehold.it/150x150" alt="">
      <div class="profile-box">
        <h2><%= @user.name %></h2>
        
        <div class="profile-box-info">
          Joined <%= time_ago_in_words @user.created_at %> ago, from Argentina
        </div>

        <div class="profile-box-action">
          <a class="btn btn-primary" href="#"><i class="fa fa-check"></i> follow</a>
        </div>
      </div>
    </header>

    <div class="container-fluid profile-body">
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <h3>About me</h3>
          <p>Superflexer and writer.</p>

          <ul class="profile-social">
            <li><a href="#"><i class="fa fa-facebook"></i> federico</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> @gosukiwi</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i> +federico</a></li>
          </ul>
        </div>
        <div class="col-md-10 col-sm-9">
          <ul class="nav nav-pills">
            <li class="active"><a href="#">Fics</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">Following</a></li>
            <li><a href="#">Followers</a></li>
          </ul>

          <% @user.stories.each do |story| %>
            <div class="profile-fic clearfix">
              <div class="profile-fic-thumb is-missing hidden-xs"><%= link_to story.title, story %></a></div>
              <div class="profile-fic-info">
                <h2><a href="<%= story_path story %>"><%= story.title %></a></h2>
                <p><%= story.summary %></p>
                <p><%= link_to "Read", story, { class: "btn btn-primary" } %></p>
              </div>
            </div>
          <% end %>

          <h1>Forum Posts</h1>
          <% @user.posts.each do |post| %>
            <%= link_to post.title, [post.forum, post] %>
          <% end %>

        </div>
      </div>
    </div>
