.user-header
  .user-header-content
    != gravatar_for(@user, size: 125, class: 'user-avatar')
    .user-profile
      %h3
        = @user.name
      %p
        <strong>wrote</strong> #{@user.stories.count} fics, <strong>read</strong> 123
    %a.user-follow-btn{href: '#'} 
      Follow
      %i.fa.fa-plus

%ul.user-bar
  %li.active
    %a.user-link{href: '#'}
      %i.fa.fa-user
      Profile
  %li 
    %a.user-link{href: '#'}
      %i.fa.fa-file-text
      Fics
  %li 
    %a.user-link{href: '#'}
      %i.fa.fa-heart
      Favs

.user-container
  .user-entries
    .fic-container
      %h2.fic-header Fics
      - @stories.each do |story|
        .fic
          .fic-content
            %h3.fic-title
              = story.title
            .fic-description 
              %p 
                = story.summary
            %ul.fic-info
              %li
                = story.views
                views
              %li
                = story.favorited_by.count
                favs
            %ul.fic-tags
              %li.fic-tags-info
                =story.active_tags.count
                tags:
              - story.active_tags.each do |tag|
                %li 
                  %span{ class: "tag-#{tag.context}" }
                    = tag.name
            = link_to 'Read', story, class: 'fic-link'
      .fic-action
        - if @user.stories.empty?
          %p.fic-nothing Seems like this user has not written anything yet!
        - else
          %a{ href: '#', class: 'fic-see-all-btn' } See all
    .fav-container
      %h2 Favs
      - @favs.each do |story|
        .fic
          .fic-content
            %h3.fic-title
              = story.title
            .fic-description 
              %p 
                = story.summary
            %ul.fic-info
              %li
                = story.views
                views
              %li
                = story.favorited_by.count
                favs
              %li 
                = link_to 'Read', story, class: 'fic-link'
      - if @user.favorites.empty?
        %p.fic-nothing Seems like this user has not faved anything yet!

  .user-wall
    %h2.activity-title Activity
    %ul.activity
      %li Created fic SOME FIC
      %li Commented on SOMEONE's profile
      %li Created ASDASD forum post
      %li Replied to potato's MYTITLE forum post
      %li Followed ANAUTHOR
      %li Faved SOMEFIC

    %h2.wall-info Info
    %p Full stack web developer, gamer and cat lover from Argentina
