= form_for message do |f|
  - if message.errors.any?
    .alert.alert-danger
      %h3 Please fix the following #{pluralize(message.errors.count, "error")} before continuing:
      %ul
      - message.errors.full_messages.each do |message|
        %li
          = message
  = f.text_field :receiver, placeholder: "Receiver's username", class: 'private-message-input'
  = f.text_field :title, placeholder: 'Title', class: 'private-message-input'
  = f.text_area :message, placeholder: 'Message...', class: 'private-message-textarea'
  .private-message-actions
    = link_to 'Back', private_messages_path, class: 'button'
    = f.submit 'Send Message', class: 'button button--primary'
