.private-messages-container
  %h3 #{current_user.username}'s Private Messages

  %table.private-messages
    %thead
      %tr
        %th Message
        %th From
        %th Actions
    - @received.each do |pm|
      %tr.private-message-text{ data: { id: pm.id } }
        %td.private-message-message
          = link_to pm.message, pm
        %td
          = link_to pm.author.username, pm.author
        %td
          = link_to 'Delete', private_message_path(pm, format: :js), remote: true, method: :delete, class: 'private-message-link'

  .private-messages-actions
    = link_to 'Compose', new_private_message_path, class: 'primary'
