.stories-header
  %h1.stories-header-title Fresh Stories
  %p.stories-header-info Newly published fics, be the first to check them out!

.stories-navigation
  %span.stories-navigation-title Browsing Fics
  .button-group
    = link_to 'Hot', hot_stories_path, class: 'button-group-item'
    = link_to 'Fresh', fresh_stories_path, class: 'button-group-item active'

.stories-container
  - @stories.each do |story|
    = render partial: 'shared/story', locals: { story: story }

- unless @stories.empty?
  = will_paginate @stories
  .pagination-info
    = page_entries_info @stories, model: 'fics'
