    <header class="hot-header">
      <h1>Fresh Fics</h1>
      <p>Latest fics, as fresh as they can be!</p>
    </header>

    <div class="container-fluid article hot">
      <div class="row">

        <% @stories.each do |story| %>
          <div class="col-sm-6 fic">
            <div class="fic-thumb is-missing">
              <%= link_to story.title, story %>
            </div>
            <div class="fic-text">
              <h2><%= link_to story.title, story %></h2>
              <p class="fic-info"><%= link_to story.user.name, story.user %>, <%= time_ago_in_words story.created_at %> ago.
                <span class="fic-info-data"><i class="fa fa-eye"></i> <%= story.views %></span>
                <span class="fic-info-data"><i class="fa fa-heart"></i> <%= story.favorited_by.count %></span>
              </p>
              <p class="fic-description"><%= story.summary %></p>
              <div class="fic-action">
                <%= link_to 'Read', story, { class: 'btn btn-primary' } %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>

<%= will_paginate @stories unless @stories.empty? %>

<div class="pagination-info">
  <%= page_entries_info @stories, model: 'fics' unless @stories.empty? %>
</div>
