.settings
  %h1.settings-title 
    %i.fa.fa-cog
    = link_to @story.title, @story
    \/ Settings

  .settings-menu
    %ul
      %li 
        %a{ href: '#basic-information' } 
          Basic Information
      %li 
        %a{ href: '#fic-image' } 
          Fic Image
      %li 
        = link_to 'Write', write_story_path(@story)
      %li 
        %a{ href: '#', class: 'settings-menu-danger' } 
          Delete

  .settings-content
    .settings-group
      %h4.settings-group-title#basic-information Basic Information
      = form_for @story do |f|
        .settings-group-inputs
          = f.label :title
          = f.text_field :title
        .settings-group-inputs
          = f.label :summary
          = f.text_area :summary
        .settings-group-action
          = f.submit 'Save'

    .settings-group
      %h4.settings-group-title#fic-image Fic Image
      = form_tag upload_story_path(@story), multipart: true do
        .settings-group-inputs
          = label_tag :thumb
          = file_field_tag :thumb
          .settings-group-info
            - if @story.has_thumb?
              .settings-group-image
                %a{ href: @story.thumb_url, target: '_blank' }
                  %img{ src: @story.thumb_url }
            - else
              No image selected.
        .settings-group-action
          %a{ href: '#', class: 'settings-group-button' } Crop
          = submit_tag 'Upload'

