.story-header{ style: thumb_background_for(@story) }
  .story-header-content
    %h1.story-header-content-title
      = @story.title
    .story-header-content-author
      %span by
      %a.story-header-content-link{ href: user_path(@story.user) }
        = @story.user.username

.story-meta
  .story-chapters._dropdown{ data: { align: :left } }
    %i.fa.fa-navicon
    Chapters
    %ul._dropdown-content.story-chapters-list
      - @story.chapters.each_with_index do |chapter, index|
        %li
          %a{ href: '#', data: { page: index }, class: 'btn-chapter' } Chapter #{index + 1}: #{chapter.title}

  - if @story.active_tags.exists?
    %ul.story-tags
      %li.story-tags-title
        = @story.active_tags.count
        tags:
      - @story.active_tags.each do |tag|
        %li
          %a{ class: "tag-#{tag.context}", href: search_stories_path(tags: tag.to_s, category: 0) }
            = tag.name

.reader
  .reader-chapters
    - @story.chapters.ordered.each do |chapter|
      .chapter.hyphenate
        %h2
          = chapter.title
        != chapter.content
    .reader-actions.u-cf
      %a.btn.btn-prev#reader-btn-prev
        %i.fa.fa-chevron-left
        Previous Chapter
      %a.btn.btn-next#reader-btn-next
        Next Chapter
        %i.fa.fa-chevron-right

.story-options
  %a{ href: add_to_fav_path(@story, format: :js), class: 'story-options-link', data: { method: :post, remote: true } }
    %span.story-options-link-text Add to favs
    %i.fa.fa-heart

  - if policy(@story).write?
    %a{ href: write_story_path(@story), class: 'story-options-link' }
      %span.story-options-link-text Edit
      %i.fa.fa-pencil
    %a{ href: story_path(@story), class: 'story-options-link', data: { method: :delete, confirm: 'Are you sure?' } }
      %span.story-options-link-text Delete
      %i.fa.fa-times

.story-status
