<header class="story-header"></header>

<div class="reader-container">
<div class="reader">
  <h1><%= @story.title %></h1>

  <div class="reader-author">
    <%= link_to @story.user.username, @story.user, { class: 'reader-author-link' } %>, <%= time_ago_in_words @story.created_at %> ago
  </div>

  <div class="reader-navigation">
    <div class="dropdown">
      <button class="btn btn-default btn-chapters dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <i class="fa fa-list"></i>
      </button>
      <ul class="dropdown-menu">
        <% @story.chapters.ordered.each_with_index do |chapter, index| %>
          <li tabindex="-1"><a href="#" class="btn-chapter" data-page="<%= index %>"><%= chapter.title %></a></li>
        <% end %>
      </ul>
    </div>
    <ul>
    </ul>
  </div>
</div>

<% if @story.active_tags.exists? %>
<ul class="reader-tags">
  <% @story.active_tags.each do |tag| %>
    <li><a class="tag-<%= tag.context %>" href="<%= search_stories_path(tags: tag.to_s, category: 0) %>"><%= tag.name %></a></li>
  <% end %>
</ul>
<% end %>

<div class="reader">
  <div class="reader-chapters">
    <% @story.chapters.ordered.each do |chapter| %>
      <div class="chapter">
        <h2><%= chapter.title %></h2>
        <%= raw chapter.content %>
      </div>
    <% end %>
  </div>

  <div class="reader-actions clearfix">
    <a class="btn btn-default prev" id="reader-btn-prev" href="#"><i class="fa fa-chevron-left"></i> Previous Chapter</a>
    <a class="btn btn-default next" id="reader-btn-next" href="#">Next Chapter <i class="fa fa-chevron-right"></i></a>
    <% if logged_in? %>
      <%= link_to raw('<i class="fa fa-heart"></i> <span id="fav-status">Add to favs</span>'), add_to_fav_path(@story, format: :js), remote: true, method: :post, class: 'btn-fav' %>
    <% end %>
  </div>

</div>

<div class="reader-options">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="btn-theme" data-toggle="dropdown" aria-expanded="true">
      <i class="fa fa-paint-brush"></i>
    </button>
    <ul class="pull-right dropdown-menu">
      <li><a class="btn-set-theme" tabindex="-1" href="#">Light</a></li>
      <li><a class="btn-set-theme" tabindex="-1" href="#">Dark</a></li>
    </ul>
  </div>

  <% if @story.user == current_user %>
    <%= link_to raw('<i class="fa fa-pencil"></i>'), write_story_path(@story), class: 'btn btn-primary' %>
    <%= link_to raw('<i class="fa fa-times"></i>'), @story, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  <% end %>
</div>
</div>
