<header class="story-header"></header>

<div class="reader">
  <h1><%= @story.title %></h1>

  <div class="reader-author">
    <%= link_to @story.user.name, @story.user, { class: 'reader-author-link' } %>, <%= time_ago_in_words @story.created_at %> ago
  </div>

  <div class="reader-chapters">
    <% @story.chapters.each do |chapter| %>
      <div class="chapter">
        <h2><%= chapter.title %></h2>
        <%= raw chapter.content %>
      </div>
    <% end %>
  </div>

  <div class="reader-actions clearfix">
    <a class="btn btn-default prev" id="reader-btn-prev" href="#"><i class="fa fa-chevron-left"></i> Previous Chapter</a>
    <a class="btn btn-default next" id="reader-btn-next" href="#">Next Chapter <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
