<%= form_for([@forum, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h3>Please fix the following <%= pluralize(@post.errors.count, "error") %> before continuing:</h3>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'new-post-title', placeholder: 'Your title, please be descriptive' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'new-post-content', placeholder: 'Your post content, type ahead!' %>
  </div>
  <div class="actions">
    <% if @post.new_record? %>
      <%= f.submit 'Create post', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', @forum, class: 'btn btn-default' %>
    <% else %>
      <%= f.submit 'Edit post', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', [@forum, @post], class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
