<h1 class="post-title"><%= @post.title %></h1>

<ul class="location">
  <li><%= link_to 'Forums', forums_path %></li>
  <li class="dropdown" data-align="left">
    <%= @post.forum.name %>
    <div class="dropdown-content location-forums">
      <% @forums.each do |forum| %>
        <% if forum == @post.forum %>
          <%= link_to forum.name, forum, class: 'location-forums-link active' %>
        <% else %>
          <%= link_to forum.name, forum, class: 'location-forums-link' %>
        <% end %>
      <% end %>
    </div>
  </li>
  <li><%= @post.title %></li>
</ul>

<% if params[:page].to_i < 2 %>
<div class="post">
  <div class="l-post-stack">
    <div class="stack author">
      <%= link_to @post.user.username, @post.user %>
      <%= raw gravatar_for(@post.user) %>
      <span class="stack post-count">
        <%= @post.user.post_count %> posts
      </span>
    </div>
    <div class="stack content">
      <div class="post-text">
        <%= @post.content %>
      </div>
      <div class="actions">

        <% if policy(@post).watch? %>
          <% if current_user.watches?(@post) %>
            <%= link_to 'Stop Watching', watch_forum_post_path(@forum, @post, format: :js), method: :post, remote: true, class: 'btn-default btn-watch' %>
          <% else %> 
            <%= link_to 'Watch', watch_forum_post_path(@forum, @post, format: :js), method: :post, remote: true, class: 'btn-default btn-watch' %>
          <% end %>
        <% end %>

        <% if policy(@post).pin? %>
          <% if @post.pinned? %>
            <%= link_to 'Unpin', pin_forum_post_path(@forum, @post, format: :js), method: :delete, remote: true, class: 'btn-default btn-pin' %>
          <% else %>
            <%= link_to 'Pin', pin_forum_post_path(@forum, @post, format: :js), method: :delete, remote: true, class: 'btn-default btn-pin' %>
          <% end %>
        <% end %>

        <%= link_to 'Edit', edit_forum_post_path(@forum, @post), class: 'btn-default btn-edit' if policy(@post).update? %>
        <%= link_to 'Delete', [@forum, @post], method: :delete, class: 'btn-default btn-delete' if policy(@post).destroy? %>

      </div>
    </div>
  </div>
</div>
<% end %>

<% @replies.each do |reply| %>
  <div class="l-post-stack reply id-<%= reply.id %>">
    <div class="stack author">
      <%= link_to reply.user.username, reply.user %>
      <%= raw gravatar_for(reply.user) %>
      <span class="stack post-count">
        <%= reply.user.post_count %> posts
      </span>
    </div>
    <div class="stack content">
      <div class="reply-text">
        <%= reply.content %>
      </div>

      <div class="actions">
        <%= link_to 'Edit', edit_forum_post_reply_path(@forum, @post, reply), class: 'btn-default btn-edit' if policy(reply).update? %>
        <%= link_to 'Delete', forum_post_reply_path(@forum, @post, reply, format: :js), data: { remote: true, method: :delete, confirm: 'Are you sure?' }, class: 'btn-default btn-delete' if policy(reply).destroy? %>
      </div>
    </div>
  </div>
<% end %>

<div class="post-pagination">
  <%= will_paginate @replies unless @replies.empty? %>
  <div class="pagination-info">
    <%= page_entries_info @replies, model: 'replies' unless @replies.empty? %>
  </div>
</div>

<% if policy(@new_reply).new? %>
<div class="new-reply">
  <div class="u-hidden alert error">
    <h3>Oops! Something went wrong</h3>
    <div class="errors"></div>
  </div>

  <h3 class="new-reply-title">Reply</h3>
  <%= form_for [@forum, @post, @new_reply], remote: true do |f| %>
  <div class="field">
   <%= f.text_area :content, class: 'new-reply-content', placeholder: 'Reply content in here...' %>
  </div>
  <div class="actions">
    <%= f.submit 'Reply', class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<% end %>
