<h1 class="post-title"><%= @post.title %></h1>

<ul class="location">
  <li><%= link_to 'Forums', forums_path %></li>
  <li class="_dropdown" data-align="left">
    <%= @post.forum.name %>
    <div class="_dropdown-content location-forums">
      <% @forums.each do |forum| %>
        <%= link_to forum.name, forum, class: 'location-forums-link' %>
      <% end %>
    </div>
  </li>
  <li><%= @post.title %></li>
</ul>

<div class="post">
  <div class="l-post-stack">
    <div class="stack author">
      <%= link_to @post.user.name, @post.user %>
      <%= raw gravatar_for(@post.user) %>
    </div>
    <div class="stack content">
      <%= @post.content %>
      <div class="actions">
        <%= link_to 'Edit', edit_forum_post_path(@forum, @post) if policy(@post).update? %>
      </div>
    </div>
  </div>
</div>

<% @replies.each do |reply| %>
  <div class="l-post-stack reply">
    <div class="stack author">
      <%= link_to reply.user.name, reply.user %>
      <%= raw gravatar_for(reply.user) %>
    </div>
    <div class="stack content">
      <%= reply.content %>

      <div class="actions">
        <%= link_to 'Edit', edit_forum_post_reply_path(@forum, @post, reply) if policy(reply).update? %>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @replies unless @replies.empty? %>

<div class="pagination-info">
  <%= page_entries_info @replies, model: 'replies' unless @replies.empty? %>
</div>

<% if policy(Reply.new).new? %>
<div class="new-reply">
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h3>Please fix the following <%= pluralize(@post.errors.count, "error") %> before continuing:</h3>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="new-reply-title">Reply</h3>
  <%= form_for [@forum, @post, Reply.new] do |f| %>
  <div class="field">
   <%= f.text_area :content, class: 'new-reply-content', placeholder: 'Reply content in here...' %>
  </div>
  <div class="actions">
    <%= f.submit 'Reply', class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<% end %>
