%nav.navigation
  %h3.logo 
    = link_to 'FicLovers', root_url
  %ul
    %li
      - if logged_in?
        %a{ href: new_story_path, class: 'nav-link-primary' }
          %i.fa.fa-pencil
          Write
    %li
      %a{ href: forums_path, class: 'nav-link-icon' }
        %i.fa.fa-comments.tooltip-item
          .tooltip Forums
    %li
      %a{ href: '#', class: 'nav-link-icon' }
        %i.fa.fa-search.tooltip-item
          .tooltip Search
    - if logged_in?
      %li._dropdown.notification-container
        %a{ href: notifications_path, class: 'nav-link-icon' }
          - if current_user.notifications.any?
            %span.notification-number 
              = current_user.notifications.count
          %i.fa.fa-bell.tooltip-item
            .tooltip 
              Notifications
        ._dropdown-content.navigation-notifications
          - if current_user.notifications.any?
            %ul
              - current_user.notifications.sorted.limit(5).each do |notification|
                %li
                  = link_to notification.message, notifications_path
              %li.notification-button
                = link_to 'See All', notifications_path
          - else
            %p You have no notifications right now
      - if admin?
        %li 
          %a{ href: admin_dashboard_path, class: 'nav-link-icon' }
            %i.fa.fa-dashboard.tooltip-item
              .tooltip Admin Panel
      %li.tooltip-item
        %a.nav-link
          %i.fa.fa-user.tooltip-item
          = current_user.username
        .tooltip.navigation-tooltip-buttons
          = link_to 'Dashboard', dashboard_index_path
          = link_to 'Profile', current_user
          = link_to 'Messages', private_messages_path
          = link_to 'Logout', logout_path
    - else
      %li 
        %a{ href: login_path, class: 'nav-link-primary' }
          %i.fa.fa-sign-in
          Login
    %li.nav-link-hidden
      %a{ href: '#' }
        %i.fa.fa-navicon
