%nav.navigation
  %h3.logo 
    = link_to 'FicLovers', root_url
  %ul
    %li
      - if logged_in?
        %a.button.button--primary.button--small{ href: new_story_path }
          %i.fa.fa-pencil 
          Write
    %li
      %a.button.button--small{ href: search_stories_path(tags: '', category: 0) }
        %i.fa.fa-search
        Search
    %li
      %a.button.button--small{ href: forums_path }
        %i.fa.fa-comments 
        Forums
    - if logged_in?
      - if admin?
        %li 
          %a.button.button--small{ href: admin_dashboard_path }
            %i.fa.fa-dashboard.tooltip-item
            Admin
      %li.dropdown{ data: { align: 'right' } }
        %a.button.button--small
          - if current_user.notifications.any?
            %span.button__notification
              = current_user.notifications.count
          %i.fa.fa-user
          = current_user.username
        .dropdown-content.dropdown-content--triangle-top.vertical-menu.vertical-menu--small
          - if current_user.notifications.any?
            = link_to "Dashboard (#{current_user.notifications.count})", dashboard_index_path, class: 'vertical-menu__item'
          - else
            = link_to 'Dashboard', dashboard_index_path, class: 'vertical-menu__item'
          = link_to 'Profile', current_user, class: 'vertical-menu__item'
          = link_to 'Messages', private_messages_path, class: 'vertical-menu__item'
          %span.vertical-menu__separator
          = link_to 'Settings', edit_user_path(current_user), method: :delete, class: 'vertical-menu__item'
          = link_to 'Logout', logout_path, method: :delete, class: 'vertical-menu__item'
    - else
      %li 
        %a.button.button--primary.button--small{ href: login_path }
          %i.fa.fa-sign-in
          Login
